doctype html
//
  Notes
  BMI Fomula in this site: https://www.cdc.gov/healthyweight/assessing/bmi/childrens_bmi/childrens_bmi_formula.html
  Age is irrelevant
head
  link(href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title BMI checker
  link(rel='stylesheet', href='/static/stylesheets/bmi.css')
.header
  .wrapper
    form(action='/' ,='' method='POST')
      h1 BMI calculator
      p Insert Your Age
      input(type='text', name='age')
      p Insert Weight in Kg
      input(type='text', name='weight')
      br
      p Insert Height in cm
      input(type='text', name='height')
      br
      button#calc check
      p#result #{result}
